<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <title>Home Page</title>
    <style class="cp-pen-styles">

        #canvas {
            width: 98%;
            height: 600px;
            padding: 10px;
            background-color: #bbc3ce;
            margin: 0 auto;
            margin-top: 15px
        }

        .to {
            background-color: #26a69a;
        }

        * {
            border: 0;
            margin: 0;
        }

        .tab {
            margin-left: 40px;
        }

        .hull {
            fill: none;
            stroke: steelblue;
            stroke-width: 15;
            stroke-linejoin: round;
            opacity: .3;
        }


    </style>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../../static/css/materialize.css" rel="stylesheet">
<link href="../../static/css/homePageSideNav.css" rel="stylesheet">
<link href="../../static/css/modal.css" rel="stylesheet">

<body>
<!--sidenav start here-->
<nav style="position: relative" class="z-depth-5">
    <div class="nav-wrapper #424242 grey darken-3">
        <a href="#" class="brand-logo center">Team Panther's Ring Network</a>
    </div>
</nav>

<div class="sideNav " style=" overflow-y:auto;">
    <div>
        <div>
            <i class="material-icons" style="font-size: 60px;margin: 25px 0 0 25px;">account_circle</i>
        </div>
        <div style="margin-top: -20px;">
            <h5 id="userStatus"></h5>
            <a id="logout" class="waves-effect waves-light btn" style="margin-left: 30px">Logout</a>
        </div>
        <div class="divider z-depth-5" style="margin-top: 15px"></div>
        <div class="z-depth-5" id="admin">
            <a style="margin-left: 33px;font-size: 25px;color: black">Add Node</a>
            <ul style="margin-left: 33px;height: 215px;">
                <li>Add Node to selected domain:</li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="add_domain_dropdown"></select>
                    </div>
                </li>
                <li>Add Node to selected pattern:</li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="add_pattern_dropdown"></select>
                    </div>
                    <a id="btn_node" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Add
                        Node</a>
                    <div class="divider z-depth-5" style="margin-top: 15px"></div>

                </li>
            </ul>

            {#           delete function menu start here #}
            <a id="addTrigger" style="margin-left: 33px;font-size: 25px;color: black">Delete</a>
            <ul id="addUl" style="margin-left: 33px;height: 375px;">
                <li>Select pattern of node to be deleted</li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="delete_pattern_dropdown"></select>
                    </div>
                    <div class="divider z-depth-5" style="margin-top: 15px"></div>
                </li>
                <li>
                    <ul>
                        <li>Node to be deleted</li>
                        <li>
                            <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                                <select id="delete_node">
                                    <option value="" disabled selected>Node ID</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <a id="btn_delete" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Delete</a>
                        </li>
                        <li>
                            <a id="btn_delete_pattern" class="waves-effect waves-light btn-small"
                               style="background-color: red;margin: 6px 0 0 30px;">Delete Pattern</a>
                        </li>
                        <li>
                            <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                                <select id="delete_domain_dropdown"></select>
                            </div>
                            <a id="btn_delete_domain" class="waves-effect waves-light btn-small"
                               style="background-color: red;margin: 6px 0 0 30px;">Delete Domain</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        {#        Activate Node Section #}
        <div class="divider z-depth-5" style="margin-top: 15px"></div>
        <div class="z-depth-5">
            <a style="margin-left: 33px;font-size: 25px;color: black">Activate</a>
            <ul style="margin-left: 33px;height: 215px;">
                <li>Activate Node</li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="activate_dropdown">
                            <option value="" disabled selected>Select Node</option>
                        </select>
                    </div>
                    <a id="btn_node_active" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Activate</a>
                    <div class="divider z-depth-5" style="margin-top: 15px"></div>

                </li>
            </ul>
        </div>
        <div class="z-depth-5">
            <a style="margin-left: 33px;font-size: 25px;color: black">Link Maintenance</a>
            <ul style="margin-left: 33px;height: 415px;">
                <li>Add Link</li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="add_source">
                            <option value="" disabled selected>Source Node</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
                        <select id="add_target">
                            <option value="" disabled selected>Target Node</option>
                        </select>
                    </div>
                    <a id="btn_link" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Add
                        Link</a>
                    <div class="divider z-depth-5" style="margin-top: 15px"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--container for visualization-->
<div class="container" style="float: right">
    <!-- visualization goes here -->
    <div id="canvas"></div>
</div>

<!--text area-->
<div class="textArea">
    <h6 style="position: absolute;margin: 33px 0 0 10px;">
        Send message from
    </h6>
    <div style="width: 90px;position: absolute; margin: 20px 0 0 180px;">
        <select id="text_source_dropdown">
            <option value="" disabled selected>From</option>
        </select>
    </div>
    <h6 style="position: absolute;margin: 33px 0 0 280px;">
        to
    </h6>
    <div style="width: 90px; position: absolute; margin: 20px 0 0 310px;">
        <select id="text_target_dropdown">
            <option value="" disabled selected>To</option>
        </select>
    </div>
    <div>
        <a id="send" class="waves-effect waves-light btn"
           style="width: 90px; position: absolute; margin: 24px 0 0 660px;">Send</a>
    </div>
    <div class="input-field col s6" style="width: 600px;margin: 100px 0 0 150px;">
        <input id="input_text" type="text" data-length="50">
        <label for="input_text">Input text</label>
    </div>
</div>
<!-- Trigger/Open The Modal -->
<button id="modalButton" style="display: none"></button>
<button id="messageModalButton" style="display: none"></button>
<button id="domainModalButton" style="display: none"></button>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close_modal">&times;</span>
        <h5 id="modal_text"></h5>
        <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
            <select id="modal_pattern_dropdown"></select>
        </div>
        <a id="modal_btn_node" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Add
            Node</a>
    </div>
</div>

<!-- The Message Modal -->
<div id="messageModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close_modal_message">&times;</span>
        <div class="row">
            <h5 id="message_modal_id" style="display: inline;"></h5>
            <h5 id="message_modal_pattern" class="tab" style="display: inline;"></h5>
            <h5 id="message_modal_status" class="tab" style="display: inline;"></h5>
            <h5 id="message_modal_type" class="tab" style="display: inline;"></h5>

            <h5 id="message_modal_caption">Messages:</h5>
            <ul id="messages_list"></ul>

        </div>
    </div>
</div>

<!-- The Domain Modal -->
<div id="domainModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close_modal_domain">&times;</span>
        <h5 id="domain_modal_text"></h5>
        <div class="input-field" style="width: 150px;margin:1px 0 0 1px;">
            <select id="modal_domain_dropdown"></select>
        </div>
        <a id="modal_btn_domain" class="waves-effect waves-light btn-small" style="margin: 6px 0 0 30px;">Add
            Domain</a>
    </div>
</div>

</body>
<script src="../../static/js/jquery-3.3.1.js"></script>
<script src="../../static/js/materialize.min.js"></script>
{#<script src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js'></script>#}
<script src="//d3js.org/d3.v3.min.js"></script>

<script src="../../static/js/homePage.js"></script>
<script src="../../static/js/ShortestPathCalculator.js"></script>
<script src="../../static/js/ShortestPathUtils.js"></script>


<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('.dropdown-trigger').dropdown();
        $('select').formSelect();
        $('input#input_text, textarea#textarea2').characterCounter();
    });

    // Get the modal
    var modal = document.getElementById('myModal');
    var messageModal = document.getElementById('messageModal');
    var domainModal = document.getElementById('domainModal');


    // Get the button that opens the modal
    var btn = document.getElementById("modalButton");
    var messageBtn = document.getElementById("messageModalButton");
    var domainBtn = document.getElementById("domainModalButton");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close_modal")[0];
    var spanMessage = document.getElementsByClassName("close_modal_message")[0];
    var spanDomain = document.getElementsByClassName("close_modal_domain")[0];


    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    messageBtn.onclick = function () {
        messageModal.style.display = "block";
    }
    domainBtn.onclick = function () {
        domainModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    spanMessage.onclick = function () {
        messageModal.style.display = "none"
    }
    spanDomain.onclick = function () {
        domainModal.style.display = "none"
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == messageModal) {
            messageModal.style.display = "none"
        }
        if (event.target == domainModal) {
            domainModal.style.display = "none"
        }
    }


</script>
</html>
